*{
  padding: 0;
  margin: 0;
}
body{
  display: block;
  width: 100%;
  height: 100%;
  font-family: sans-serif;
}
#conteiner{
  z-index: 10;
  position: relative;
}
#header, #title{
  position: sticky;
  top: 0;
  z-index: 30;
  width: 100%;
  height: 200px;
  background-color: #ffffff;
  text-align: center;
}
#main{
  z-index: 20;
  width: 100%;
  height: 1800px;
}
#footer{
  padding-top: 20px;
  position: absolute;
  bottom: 0;
  z-index: 20;
  width: 100%;
  height: 60px;
  background-color: #ffd6ad;
  color: white;
  text-align: center;
  font-size: 1em;
}
img#title{
  display: block;
  z-index: 30;
  margin: auto;
  width: auto;
  height: 200px;
}
hr{
  width: 100%;
  height: 10px;
  background-color: #ffd6ad;
  border: none;
}
p{
  color: #24140e;
  font-size: 25px;
  margin-top: 10px;
}
#left{
  display: inline-block;
  z-index: 20;
  position: relative;
  height: 100%;
  width: 70%;
  float: left;
  background-image: url(image_burkina.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 1700px;
  opacity: 0.15;
  position: absolute;
  left: -30px;
}
#right{
  height: 100%;
  width: 30%;
  position: relative;
  float: right;
  z-index: 20;
}
#profile, #category, #twitter{
  height: 20%;
  width: 100%;
  margin-left: 10px;
}
#search{
  height: 10%;
  width: 100%;
  margin-left: 10px;
}
img.profile-name-link{
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-position: 0 -10px -10px -15px;
  float: left;
}
.profile-name-link, .profile-text{
  font-size: 1em;
  width: 85%;
  line-height: 30px;
}
.profile-text{
  margin-bottom: 1em;
  font-size: 15px;
}
.profile-about-link{
  font-size: 0.8em;
}
a {
  text-decoration:none;
}
a:link {
  color: #24140e;
}
a:visited{
  color: #ff7f7f;
}
a:hover{
  color: silver;
}
#search-space{
  position: relative;
  top: 20%;
  max-width: 500px;
}
#search-box{
  height: 35px;
  width: 300px;
  padding: 0 10px;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 25px;
  outline: 0;
  border: 2px solid #dcdcdc;
}
#search-button{
  height:50px;
  position:absolute;
  left:290px;
  top: -5px;
  background:none;
  color:#ff7f7f;
  border:none;
  font-size:1.2em;/
}
